
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules


# AWS stuff for publishing static files
.aws-credentials.json
.awspublish*